
[access]
	inheritFrom = Platform-Unrestricted-Projects
[project]
	description = Bug: 271468695
[access "refs/heads/temp-consolidate-gfxstream-projects"]
	forgeAuthor = group b-283488043
	forgeCommitter = group b-283488043
	forgeServerAsCommitter = group b-283488043
	push = group b-283488043
	pushMerge = group b-283488043
	read = group b-283488043
